<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  nz-form
  nzLayout="vertical"
  class="form"
>
  <nz-divider nzText="Sort"></nz-divider>
  <div formGroupName="sort">
    <nz-form-item>
      <nz-form-label>Field</nz-form-label>
      <nz-form-control>
        <nz-select
          id="field"
          formControlName="field"
          nzAllowClear
          nzPlaceHolder="Select field"
        >
          <nz-option nzValue="dueDate" nzLabel="Due Date"></nz-option>
          <nz-option nzValue="priority" nzLabel="Priority"></nz-option>
          <nz-option nzValue="createdAt" nzLabel="Created Date"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Direction</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="dir" nzPlaceHolder="Select direction">
          <nz-option nzValue="asc" nzLabel="Ascending"></nz-option>
          <nz-option nzValue="desc" nzLabel="Descending"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-divider nzText="Filters"></nz-divider>
  <div formGroupName="filters">
    <nz-form-item>
      <nz-form-label>Title / Description</nz-form-label>
      <nz-form-control>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            placeholder="Search by title or description"
            formControlName="text"
          />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <button
            type="button"
            nz-button
            nzType="default"
            nz-dropdown
            [nzDropdownMenu]="historyMenu"
            (nzVisibleChange)="onHistoryVisibleChange($event)"
            nzPlacement="bottomRight"
          >
            <i nz-icon nzType="history" nzTheme="outline"></i>
          </button>
        </ng-template>

        <nz-dropdown-menu #historyMenu="nzDropdownMenu" class="search-history-dropdown">
          <ul nz-menu>
            @if (!searchHistory.length) {
            <li nz-menu-item disabled>No history</li>
            } @else { @for (term of searchHistory; track term) {
            <li nz-menu-item (click)="applySearchHistory(term)">
              {{ term }}
            </li>
            } }
          </ul>
        </nz-dropdown-menu>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-select
          id="status"
          formControlName="status"
          nzMode="multiple"
          nzAllowClear
          nzPlaceHolder="Select status"
        >
          <nz-option nzValue="todo" nzLabel="To Do"></nz-option>
          <nz-option nzValue="in-progress" nzLabel="In Progress"></nz-option>
          <nz-option nzValue="done" nzLabel="Done"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Priority</nz-form-label>
      <nz-form-control>
        <nz-select
          id="priority"
          formControlName="priority"
          nzMode="multiple"
          nzAllowClear
          nzPlaceHolder="Select priority"
        >
          <nz-option nzValue="low" nzLabel="Low"></nz-option>
          <nz-option nzValue="medium" nzLabel="Medium"></nz-option>
          <nz-option nzValue="high" nzLabel="High"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Due Date</nz-form-label>
      <nz-form-control>
        <nz-range-picker
          formControlName="dueDate"
          [nzFormat]="'MM/dd/yyyy'"
          nzPlaceHolder="Select date range"
        ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="form-row">
    <nz-form-item class="flex-item">
      <nz-form-control>
        <button nz-button nzType="text" type="button" (click)="clear()">
          Clear
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="flex-item">
      <nz-form-control>
        <button nz-button nzType="default">Apply Filters</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>