<div class="board-header">
  <button (click)="addTask()" nz-button nzType="primary"> 
    Add Task
  </button>
</div>

<div cdkDropListGroup>
  @for (group of groups; track group.key) {
  <div class="board-container">
    <h2>{{ group.label }}</h2>

    <div
      [id]="group.id"
      cdkDropList
      [cdkDropListData]="data()[group.key]"
      [cdkDropListConnectedTo]="group.connectedTo"
      class="board-list"
      (cdkDropListDropped)="drop($event)"
    >
      @if (loading()) {
      <nz-spin nzTip="Loading..." class="spinner-column"></nz-spin>
      } @else { @for (item of data()[group.key]; track item) {
      <app-board-card cdkDrag [task]="item" (taskChanged)="getData()"></app-board-card>
      } }
    </div>
  </div>
  }
</div>
