@import './variables';

html, body {
  font-family: var(--font-family);
  color: var(--gray-900);
  background-color: var(--gray-50);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: var(--font-semibold);
  line-height: var(--leading-normal);
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  color: var(--primary-blue);
  text-decoration: none;
  &:hover { color: var(--primary-blue-hover); }
}