<nz-card class="task-card">
  <header class="task-header">
    <nz-tag [nzColor]="priorityColor()">
      {{ task()?.priority | titlecase }}
    </nz-tag>

    <div class="action-buttons">
      <button type="button" (click)="editTask()" class="edit-btn">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </button>
      <button type="button" (click)="deleteTask()" class="delete-btn">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </button>
    </div>
  </header>

  <section class="task-body">
    <h3 class="task-title">{{ task()?.title }}</h3>
    <p class="desc">{{ task()?.description | truncate }}</p>

    <div class="meta">
      <div class="due">
        @if (task()?.status === 'done') {
        <p class="status-done">Completed</p>
        } @else {
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          @if(task()?.dueDate) {
            <time>{{ task()?.dueDate | date : "MMMM d, y" }}</time>
          }
          @else {
            <p>N/A</p>
          }
        }
      </div>
    </div>
  </section>
</nz-card>
