.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.chart-wrapper {
  width: 100%;       
  height: 300px;  
  max-height: 400px;
}

@media (min-width: 768px) {
  .chart-wrapper {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .chart-wrapper {
    height: 400px;
  }
}

.chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}